<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="lol.html" />
                <remove value="first.html" />
                <remove value="first1.html" />
                <add value="lol.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
