<html>
<head>
<title>首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body bgcolor="#9ac768" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="text-align:center;">
<table id="__01" width="960" height="1020" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto; text-align:left;">
	<tr>
		<td colspan="2">
			<img src="../images/woderizhi_01.jpg" width="960" height="413" alt=""></td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="199" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" width="960" height="36"  class="tit">
			九劫剑诀</td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../images/woderizhi_03.jpg" width="201" height="1" alt=""></td>
		<td width="759" height="695" rowspan="3" valign="top" class="nr">
        <h2>剑修，一人一剑，勇忘直前，剑在人在，剑断人亡</h2>
        <p>一点寒光万丈芒,屠尽天下又何妨?深埋不攻凌锐志,一聚风云便是皇!</p>
        <p>煊赫亘古一剑锋,纵横风云各西东!日月为身雷作将,劈山断岳天血红!</p>
         <p>一刃横天万事秋，此路黄泉同九幽！斩断红尘多情客，锋芒到处一切休！</p>
          <p>铁壁铜墙战未休，得此一生又何求？</p>
           <p>九霄风云齐聚会，我未亡时君无忧！藏锋隐光夜未央，运筹帷幄日月长；</p>
           <p>宁将一生全隐没，却换青霄杀戮狂！生杀大权我掌握，五指合拢天欲堕；</p>
           <p>九劫九散风云聚，九重天外血如墨大拙无锋天欲沉，无刃无寒剑意森；</p>
           <p>生死方晓剑首厉，沧桑才知沉默魂掌心尸骨如山高，剑下血泊浪翻涛；</p>
             <p>红尘本是无情道，斩尽天下不收刀！</p>
               
        </td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" style="background:#fff;" class="daohang" cellspacing="0" cellpadding="0">
  <tr>
    <td><a href="../index.html">主页</a></td>
  </tr>
  <tr>
    <td><a href="woderizhi.html" class="hover">九劫剑诀</a></td>
  </tr>
  <
</table>	
        </td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="442" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="../images/woderizhi_06.jpg" width="201" height="342" alt=""></td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="252" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../images/woderizhi_07.jpg" width="759" height="90" alt=""></td>
		<td>
			<img src="../images/分隔符.gif" width="1" height="90" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>